* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  90% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  90% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  90% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: visible;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1.25s;
  animation-timing-function: ease-in-out;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.735rem;
  animation-name: moveInRight;
  animation-duration: 1.25s;
  animation-timing-function: ease-in-out;
  margin-bottom: 5rem;
}
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.7rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 5rem;
}

.test {
  text-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.08);
}
.test-2 {
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.08);
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 10rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 6rem;
}

.card {
  perspective: 200rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}
.card__side {
  background-color: orangered;
  height: 50rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background: linear-gradient(to right bottom, #7ed56f, #55c57a);
}
.card__side--back-3 {
  background: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #55c57a), url(../img/nat-6.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 13rem;
  right: 2rem;
  text-align: right;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(85, 197, 122, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  padding: 2rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card ul li:not(:last-child) {
  border-bottom: 1px solid #dddddd;
}
.card__cta {
  display: grid;
  grid-row-gap: 6rem;
  height: 100%;
  justify-items: center;
  align-content: center;
}
.card__price-box {
  text-align: center;
  color: #fff;
}
.card__price-only {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 4rem 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.9rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1.5rem);
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.25s;
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.15);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
}
.btn--white {
  background-color: #fff;
  color: #777;
  animation: moveInUp 1.25s ease-in-out;
}
.btn--white::after {
  background-color: #fff;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-text:link, .btn-text:visited {
  font-size: 1.7rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.3s;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  transform: translateY(-0.3rem);
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.15);
}
.btn-text:active {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}

.composition {
  position: relative;
  width: 100%;
  height: 100%;
}
.composition__photo {
  width: 60%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  position: absolute;
  transition: all 0.2s;
  outline-offset: 1rem;
}
.composition__photo--p1 {
  top: -8rem;
  left: 5rem;
  z-index: 1;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
  z-index: 2;
}
.composition__photo--p3 {
  left: 15%;
  top: 25rem;
  z-index: 3;
}
.composition__photo:hover {
  outline: 1.5rem solid #55c57a;
  z-index: 5;
  transform: scale(1.075) translateY(-5px);
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.story {
  width: 70%;
  margin: 8rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
}
.story > * {
  transform: skewX(12deg);
}
.story__shape {
  position: relative;
  z-index: 15;
  width: 15rem;
  height: 15rem;
  float: left;
  background-color: #f7f7f7;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
}
.story__shape:hover > .story__img {
  transform: scale(1.2);
  filter: blur(0.4rem) brightness(95%);
}
.story__shape:hover > .story__name {
  transform: translate(-42.5%, -50%);
  opacity: 1;
}
.story__img {
  height: 100%;
  position: relative;
  right: 3.5rem;
  z-index: -1;
  transition: all 0.5s;
}
.story__name {
  font-weight: 300;
  text-align: center;
  color: #fff;
  letter-spacing: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-42.5%, 50%);
  opacity: 0;
  transition: all 0.5s;
}

.bg-video {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.45;
  z-index: -5;
  top: 0;
  left: 0;
  overflow: hidden;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  padding: 1.75rem 2.25rem;
  color: inherit;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form__label {
  font-size: 1.5rem;
  font-weight: 700;
  color: inherit;
  margin-left: 2.3rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  transform: translateY(-4.8rem);
}
.form__input.placeholder-shown + .form__label {
  transform: translateY(-4.8rem);
}
.form__radio-group {
  display: flex;
  align-items: center;
}
.form__group-radio-buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.form__radio-label {
  font-size: 1.7rem;
  cursor: pointer;
  display: flex;
}
.form__radio-input {
  visibility: hidden;
}
.form__radio-input:checked + .form__radio-label > .form__radio-button {
  border: 5px solid #55c57a;
}
.form__radio-input:checked + .form__radio-label > .form__radio-button::after {
  opacity: 1;
}
.form__radio-text {
  display: block;
}
.form__radio-button {
  position: relative;
  height: 3rem;
  width: 3rem;
  border: 5px solid #777;
  border-radius: 50%;
  display: block;
  margin-right: 1rem;
  transition: all 0.3s;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.section-about {
  background-color: #f7f7f7;
  padding: 45rem 10rem;
  margin-top: -25vh;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 15%, 100% 8%, 100% 85%, 0% 100%);
}
.section-about__row--two-columns {
  display: flex;
}
.section-about__column {
  flex-basis: 50%;
}

.section-features {
  margin-top: -45rem;
  padding: 30rem 18rem;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
}
.section-features__row-4-columns {
  display: flex;
}
.section-features__row-4-columns--column:not(:last-child) {
  margin-right: 6rem;
}

.section-tours {
  padding: 20rem 18rem;
  background-color: #f7f7f7;
}
.section-tours__row-3-columns {
  display: flex;
  justify-content: center;
}
.section-tours__row-3-columns--column {
  flex-basis: 40rem;
  padding: 0 4rem;
}

.section-stories {
  padding: 10rem 0;
  position: relative;
}
.section-stories .overlay {
  background: linear-gradient(to bottom, #f7f7f7, rgba(247, 247, 247, 0));
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.section-stories .above {
  position: relative;
  z-index: 5;
}

.section-book {
  padding: 15rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem;
}
.book__form {
  width: 50%;
  padding: 6rem;
}

/*# sourceMappingURL=style.css.map */
