.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
  }

  &__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;

    &--item {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      font-size: 3rem;
      font-weight: 300;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.55rem;
      background: linear-gradient(
        130deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%,
        $color-white 100%
      );
      padding: 1rem 2rem;
      background-size: 225%;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__icon {
    position: relative;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 3px;
      border-radius: 1px;
      background: linear-gradient(
        to right,
        $color-primary-light,
        $color-primary
      );
      display: block;
      transition: all 0.4s;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }

    &::before {
      top: -1rem;
    }

    &::after {
      top: 1rem;
    }
  }

  &__checkbox:checked + &__button > &__icon {
    background: transparent;
    &::before {
      transform: rotate(225deg);
      margin-top: 1rem;
    }

    &::after {
      transform: rotate(-225deg);
      margin-top: -1rem;
    }
  }
}
