.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.75rem 2.25rem;
    color: inherit;
    border-radius: 3px;
    background-color: rgba($color-white, 0.7);
    border: none;
    font-family: inherit;
    // border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;

    &::after {
      content: 'HAAAA';
      height: 1rem;
      width: 1rem;
      background-color: red;
      display: block;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      // border-bottom: 3px solid $color-primary;
    }
  }

  &__label {
    font-size: 1.5rem;
    font-weight: 700;
    color: inherit;
    margin-left: 2.3rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(-4.7rem);
  }

  &__input:focus ~ &__label {
    transform: translateY(0);
  }

  &__radio-group {
    display: flex;
    align-items: center;
  }

  &__group-radio-buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    display: flex;
  }

  &__radio-input {
    visibility: hidden;

    &:checked + .form__radio-label > .form__radio-button {
      border: 5px solid $color-primary;

      &::after {
        opacity: 1;
      }
    }
  }

  &__radio-text {
    display: block;
  }

  &__radio-button {
    position: relative;
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-gray-dark;
    border-radius: 50%;
    display: block;
    margin-right: 1rem;
    transition: all 0.3s;

    &::after {
      content: '';
      display: block;
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
    }
  }

  &__button {
    margin-top: 3rem;

    .btn {
      background: $color-primary-light;
      color: $color-white;
    }
  }

  &__line {
    background-color: $color-primary;
    height: 5px;
    width: 0;
    transition: all 0.3s;
  }

  &__input:focus + &__line {
    width: 90%;
  }
}
