.story {
  width: 70%;
  margin: 8rem auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.7);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);

  & > * {
    transform: skewX(12deg);
  }

  &__shape {
    position: relative;
    z-index: 15;
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: $color-gray-light-1;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);

    &:hover > .story__img {
      transform: scale(1.2);
      filter: blur(0.4rem) brightness(95%);
    }

    &:hover > .story__name {
      transform: translate(-42.5%, -50%);
      opacity: 1;
    }
  }

  &__img {
    height: 100%;
    position: relative;
    right: 3.5rem;
    z-index: -1;
    transition: all 0.5s;
  }

  &__name {
    font-weight: 300;
    text-align: center;
    color: $color-white;
    letter-spacing: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-42.5%, 50%);
    opacity: 0;
    transition: all 0.5s;
  }
}

.bg-video {
  height: 100%;
  position: absolute;
  opacity: 0.2;
  z-index: -2;
  top: 0;
  left: 0;
}
