@import '../abstracts/variables';

.section-about {
  background-color: $color-gray-light-1;
  padding: 45rem 10rem;
  margin-top: -25vh;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 15%, 100% 8%, 100% 85%, 0% 100%);

  &__row--two-columns {
    @include flexTwoColumns;
  }

  &__column {
    flex-basis: 50%;
  }
}

.section-features {
  margin-top: -45rem;
  padding: 30rem 18rem;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);

  &__row-4-columns {
    display: flex;

    &--column {
      &:not(:last-child) {
        margin-right: 6rem;
      }
    }
  }
}

.section-tours {
  padding: 20rem 18rem;
  background-color: $color-gray-light-1;

  &__row-3-columns {
    display: flex;
    justify-content: center;

    &--column {
      flex-basis: 40rem;
      padding: 0 4rem;
    }
  }
}

.section-stories {
  padding: 10rem 0;
  position: relative;

  .overlay {
    background: linear-gradient(
      to bottom,
      rgba($color-gray-light-1, 1),
      rgba($color-gray-light-1, 0)
    );
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .above {
    position: relative;
    z-index: 5;
  }
}

.section-book {
  padding: 15rem;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  &__form {
    width: 50%;
    padding: 6rem;
  }
}

.footer {
  background-color: #333;
  padding: 10rem 0;

  &__logo-box {
    text-align: center;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }
}
