@import '../abstracts/variables';

.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem 18rem;
  margin-top: -20vh;

  &__row--two-columns {
    @include flexTwoColumns;
  }

  &__column {
    flex-basis: 50%;
  }
}

.section-features {
  margin-top: -15rem;
  padding: 30rem 18rem;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);

  &__row-4-columns {
    display: flex;

    &--column {
      &:not(:last-child) {
        margin-right: 6rem;
      }
    }
  }
}

.section-tours {
  padding: 10rem 18rem;

  &__row-3-columns {
    display: flex;
    justify-content: center;

    &--column {
      flex-basis: 40rem;
      margin: 0 4rem;
    }
  }
}
