@import '../abstracts/variables';

.section-about {
  background-color: $color-gray-light-1;
  padding: 45rem 10rem;
  margin-top: -25vh;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 15%, 100% 8%, 100% 85%, 0% 100%);

  &__row--two-columns {
    @include flexTwoColumns;
  }

  &__column {
    flex-basis: 50%;
  }
}

.section-features {
  margin-top: -45rem;
  padding: 30rem 18rem;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);

  &__row-4-columns {
    display: flex;

    &--column {
      &:not(:last-child) {
        margin-right: 6rem;
      }
    }
  }
}

.section-tours {
  padding: 20rem 18rem;
  background-color: $color-gray-light-1;

  &__row-3-columns {
    display: flex;
    justify-content: center;

    &--column {
      flex-basis: 40rem;
      padding: 0 4rem;
    }
  }
}

.section-stories {
  padding: 10rem 0;
  position: relative;

  .overlay {
    background: linear-gradient(
      to bottom,
      rgba($color-gray-light-1, 1),
      rgba($color-gray-light-1, 0)
    );
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .above {
    position: relative;
    z-index: 5;
  }
}
